<div class="w-100 f6 pt0 pb4 relative">
	
	{% if theme.breadcrumb %}
		<div class="mw6">
			<a class="link f-link underline-hover" href="{{ home_url }}">{{ settings.title|e }}</a>

			{% for crumb in breadcrumb %}
				&nbsp; &#x203A; &nbsp;  
				{% if loop.last %}
					{{ crumb.name|e }}
				{% else %}
					<a class="link f-link underline-hover" href="{{ crumb.urlRel }}">{{ crumb.name|e }}</a>
				{% endif %}
			{% endfor %}
		</div>

	{% endif %}

</div>
